<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9f6b02faaf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleRegistro.css">
    <title>Regristro</title>
</head>
<body>
    <body>
        <header class="headerPrincipal">


            <div class="top-navs">
        
                <div class="logo"><a href="/"> <img src="/images/logo-mercado-liebre.svg" alt="logo" ></a></div>
        
               <div class="barra-busqueda">
                   <label for="buscar" class="search"><i class="fas fa-search"></i></label>
                   <input type="text" name="barraBusqueda" id="buscar" class="barraBusqueda" placeholder="Encuentra miles de productos">
               </div>
        
                <div class="compraCuotas">
                    <p>
                        <i class="fas fa-hand-holding-usd"></i>
                        compra en cuotas y sin tarjeta de crédito
                    </p>
                </div>
            </div>
        
           
        
        <nav class="botton-navs">
        
               <nav class="nav1">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
        
                    </ul>
               </nav>
               <nav class="nav2">
                <ul>
                    <li>
                        <a href="/registro"> Creá tu cuenta</a>
                        <i class="far fa-address-card"></i>
                    </li>
                    <li>
                        <a href="/login">Ingresá</a>
                        <i class="fas fa-sign-out-alt"></i>
                    </li>
                    <li>
                        <a href="#">Mis compras</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
        
                </ul>
           </nav>
        
        
         <div class="menu-hambur">
                <i class="fas fa-bars"></i>
            </div>
        
        </nav>
        
          
        
           </header>      

<form method="POST" action="/registrar-nuevo-usuario" class="formulario">
    <div>
      
        <label for="usuario">Nombre de usuario</label>
        <input type="text" name="usuario" id="usuario" class="control" placeholder="Arnold92">
    </div>
    <div>
   
    <div>
        <label for="contraseña">Contraseña</label>
        <input type="password" name="Contraseña" id="contraseña" class="control" placeholder="*****">
    </div>
    <div>


       <button type="submit">Ingresar</button>

        <button type="reset">Borrar</button>
    </div>
</form>

<footer>
    <section>

     <article>
         <i class="fas fa-credit-card"></i>
        <header>Pagá con tarjeta o en efectivo</header>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
         puntos de pago. ¡Y siempre es seguro!</p>
     </article>
     <article>
         <i class="fas fa-gift"></i>
         <header>Envío gratis desde $ 2.500</header>
         <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
             productos. Es un beneficio de Mercado Puntos.</p>
      </article>
      <article>
         <i class="fas fa-user-shield"></i>
         <header>Seguridad, de principio a fin</header>
         <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
             porque estás siempre protegid@.</p>
         <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </article>

    </section>
</footer>
</body>
</html>